<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ConsoleApp_SmsServiseFeedBack.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ConsoleApp_SmsServiseFeedBack.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <connectionStrings>
    <add name="DB_A4A060_csEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=193.27.73.63;initial catalog=DB_A4A060_cs;persist security info=True;user id=Administrator;password=Nikita25;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <ConsoleApp_SmsServiseFeedBack.Properties.Settings>
      <setting name="login" serializeAs="String">
        <value>cattlescan</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value>cattlescan2020</value>
      </setting>
      <setting name="url_FeedBack" serializeAs="String">
        <value>http://api.smsfeedback.ru/messages/v2/send/</value>
      </setting>
      <setting name="EmailHost" serializeAs="String">
        <value>smtp.gmail.com</value>
      </setting>
      <setting name="EmailUserName" serializeAs="String">
        <value>1960tix@gmail.com</value>
      </setting>
      <setting name="EmailPassword" serializeAs="String">
        <value>mhciukgztxjjxnso</value>
      </setting>
      <setting name="FeedBackSender" serializeAs="String">
        <value>cattlescan</value>
      </setting>
      <setting name="GapsLimit" serializeAs="String">
        <value>5</value>
      </setting>
    </ConsoleApp_SmsServiseFeedBack.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <ConsoleApp_SmsServiseFeedBack.Properties.Settings>
      <setting name="LogPage" serializeAs="String">
        <value>nl-6672920</value>
      </setting>
      <setting name="LogUser_id" serializeAs="String">
        <value>Admin 2020-12-29</value>
      </setting>
      <setting name="LogFunction_query" serializeAs="String">
        <value>SMS service FeedBack</value>
      </setting>
    </ConsoleApp_SmsServiseFeedBack.Properties.Settings>
  </userSettings>
</configuration>